<div class="footer-content">
  <h2 class="footer-title">Culture History or Street culture is better than ever.</h2>
  <div class="footer-helper">
    <div class="footer-moreInfo">
      <h2>More information</h2>
      <p>If you need more information about STREETWEAR or if you have any request regarding the space or its activities,
        you can contact
        <a href="mailto:hypebeast@streetwear.com">hypebeast@streetwear.com</a></p>
      <h2 class="footer-visit">Visit <a href="https://www.highsnobiety.com/">hnobiety.com</a> and <a
          href="https://www.hypebeast.com/">hypebeast.com</a></h2>
    </div>
  </div>
  <div class="footer-img">
    <img class="imgHb" src="../../assets/hb.jpg" />
    <img class="imgHn" src="../../assets/hn.jpg" />
  </div>
  <div class="footer-links">
    <a href="http://www.interior.gob.es/politica-de-cookies">Cookie policy</a>
    <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Privacy policy</a>
    <a href="https://www.hoy.es/condiciones-uso.html">Terms and conditions of uses</a>
  </div>
</div>
